<p id="notice" class="alert alert-success"><%= notice %></p>

<aside class="sidebar">
  <section>
    <span class="label">ユーザー</span>
    <h3 class="user-info"><%= @user.name %></h3>
  </section>

  <section>
    <span class="label">メールアドレス</span>
    <h3 class="user-info"><%= @user.email %></h3>
  </section>

  <section>
    <small><%= link_to 'プロフィールを編集', edit_user_path(@user) %></small>
  </section>

</aside>
<ul class="notes">
<%= @notes.each do |note| %>
<li><%= link_to note.title, note %></li>
<% end %>
</ul>

